
mat-sidenav {
    padding: 50px;
}

.mr-3 {
    margin-right: 5px;
}

.menu-button {
    display: flex;
    flex-flow: column wrap;
}

img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 12px gray solid;
}