<div class="row">
    <div class="col-12">
        <div class="container mt-5 mb-5">
        
            <div class="row">
        
                <div class="col-4">
                    <ul class="nav">
                        <li>
                            <a class="nav-link" href="https://www.facebook.com" target="_blank"
                                aria-current="page">Conocenos</a>
                        </li>
                    </ul>
        
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus minima aliquid sunt, voluptates
                        magni pariatur, sapiente voluptate eveniet cumque eligendi a illo adipisci nobis molestias ullam
                        totam tempora, beatae consequuntur?
                    </p>
        
                </div>
        
                <div class="col-4">
                    <ul class="nav">
                        <li>
                            <a class="nav-link" href="https://www.twitter.com" target="_blank">Contactanos</a>
                        </li>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus minima aliquid sunt, voluptates
                            magni pariatur, sapiente voluptate eveniet cumque eligendi a illo adipisci nobis molestias ullam
                            totam tempora, beatae consequuntur?
                        </p>
                    </ul>
                </div>
        
                <div class="col-4">
                    <ul class="nav">
                        <li>
                            <a class="nav-link" href="https://www.tiktok.com" target="_blank">Visitanos</a>
                        </li>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus minima aliquid sunt, voluptates
                            magni pariatur, sapiente voluptate eveniet cumque eligendi a illo adipisci nobis molestias ullam
                            totam tempora, beatae consequuntur?
                        </p>
                    </ul>
                </div>
        
            </div>
        
        </div>
    </div>
</div>
