<div class="container-fluid">

    <ul class="nav justify-content-center flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="https://www.facebook.com" target="_blank" aria-current="page">Conocenos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.twitter.com" target="_blank">Contactanos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.tiktok.com" target="_blank">Visitanos</a>
        </li>
    </ul>

</div>