<div style="height:500px;">
    <swiper
    [slidesPerView]="1"
    [spaceBetween]="10"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    >
    <ng-template swiperSlide>
        <img src="../assets/img/background.jpg" alt="">
    </ng-template>
    <ng-template swiperSlide>
        <img src="../assets/img/mob-psycho-100-wallpaper.jpg" alt="">
    </ng-template>
    <ng-template swiperSlide>
        <img src="../assets/img/portada.jpg" alt="">
    </ng-template>
    </swiper>
</div>